extends template.pug

block content
  ul 
    - liked
    each dog in liked
      +match(dog.imgSrc, dog.name, dog.content, dog.price)
    else 
      p(class="emptyP") Your doggo list is empty..
  
  