doctype html
html
  include includes/head.pug
  body(class="template")
    h1 #{title}
    block content
    nav 
        div
            a(href="/home")
                img(src="images/home.png" alt="home icon")
            a(href="/matches")
                img(src="images/matches.png" alt="matches icon")
            a(href="")
                img(src="images/profile.png" alt="profile icon")
            a(href="")
                img(src="images/settings.png" alt="settings icon")
    script
        include ../static/public/scripts/script.js 


   
    