doctype html
html
  include includes/head.pug
  body
    //- ik geef hier een height en width mee, sorry als dit niet mag maar anders ziet het er niet uit zonder css :(
    img(src='/images/bone.png' alt="DoggoSwipe logo" height="150px" width="150px")
    h1 DoggoSwipe
    p Swipe your way to your doggo
    if(user)
        //- p Welcome #{user.name} to my doggo matching app
        div
            a(href="/home") Start
    else
        //- a(href = "/sign_up") Sign Up
        +link('/welcome', 'Sign up')(class="")
    img(src='/images/dog.png' alt="Pixelated dog" height="300px" width="300px")
    script
        include ../static/public/scripts/script.js 