/*-----------------------------------------*/
/*wat algemene stuff wat overal voor geldt */
/*-----------------------------------------*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: #ff7d7d;
  background-image: url(./images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
}

/* ------------------------------------- */
/*               Template                */
/* ------------------------------------- */

.template h1 {
  height: 10vh;
  text-align: center;
  padding: 0.4em 0;
}

/* ------------------------------------- */
/*             welcome.pug               */
/* ------------------------------------- */

.welcome {
  text-align: center;
  padding: 2em 1em 0 1em;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  z-index: 2;
}

.welcome h1 {
  font-size: 3.5em;
  margin-top: -1em;
}

.welcome p {
  font-size: 1.5em;
  padding: 0.4em 1.4em 2em 1.4em;
}

.welcome a {
  font-size: 1.5em;
  border: 0.08em solid #ffffffb0;
  border-radius: 0.7em;
  width: 7em;
  padding: 0.3em 0.6em 0.5em 0.6em;
  text-decoration: none;
  color: #ffffff;
  background: #ffaaaa96;
  z-index: 2;
  position: relative;
}

.welcome a:hover {
  background: #fa828296;
}

.doggoPic {
  position: absolute;
  bottom: 0;
  left: 1em;
  /* original img 300x300 px */
  height: 190px;
  width: 200px;
  z-index: 2;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

/* ------------------------------------- */
/*            Navigatie Bar              */
/* ------------------------------------- */

nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

nav div {
  background-color: rgba(255, 241, 241, 0.603);
  padding: 0 2.5em;
  border-radius: 3em 3em 0 0;
  border: 0.01em solid rgba(255, 255, 255, 0.397);
  box-shadow: rgba(97, 56, 63, 0.068) 0px 2px 4px 0px,
    rgba(90, 46, 55, 0.123) 0px 2px 16px 0px;
}

nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  font-size: 2.2vw;
}

nav a:hover {
  background: #ffe1d89a;
  border-radius: 0.5em;
}


/* ------------------------------------- */
/*              Home.pug                 */
/* ------------------------------------- */

.home {
  background-color: rgba(255, 241, 241, 0.603);
  height: 75vh;
  border-radius: 3em;
  box-shadow: rgba(97, 56, 63, 0.068) 0px 2px 4px 0px,
    rgba(90, 46, 55, 0.123) 0px 2px 16px 0px;
    margin: 0 1em;
  padding-top: 1em;
  text-align: center;
}

.home > div {
  background-color: rgba(255, 241, 241, 0.747);
  height: 50vh;
  border-radius: 3em;
  box-shadow: rgba(158, 85, 97, 0.158) 0px 2px 4px 0px,
    rgba(160, 75, 92, 0.247) 0px 2px 16px 0px;
  margin: 0 1.5em;
  text-align: left;
}

.home button {
  margin-top: 1em;
  border: none;
  background-color: transparent;
}



/* ------------------------------------- */
/*            Matches.pug                */
/* ------------------------------------- */

ul {
  background-color: rgba(255, 241, 241, 0.603);
  height: 90vh;
  border-radius: 3em 3em 0 0;
  box-shadow: rgba(97, 56, 63, 0.068) 0px 2px 4px 0px,
    rgba(90, 46, 55, 0.123) 0px 2px 16px 0px;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* see https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
  display: none;
}

ul li {
  border-top: 0.1em solid rgba(255, 163, 163, 0.247);
  padding: 1em 1em 1em 0;
  display: flex;
  margin: 0 2.2em;
  align-items: center;
}

ul li:first-of-type {
  border-top: none;
}

li img {
  width: 5em;
  height: 5em;
  border-radius: 3em;
  object-fit: cover;
}

li div {
  flex-grow: 1;
  margin-left: 1em;
}

/* ------------------------------------- */
/*           media queries               */
/* ------------------------------------- */

@media only screen and (min-width: 1100px) {
  .boneImg {
    width: 17em;
    height: 17em;
  }
  .welcome h1 {
    font-size: 4.5em;
    margin-top: -1.5em;
  }

  .welcome p {
    font-size: 2em;
  }

  .welcome a {
    font-size: 1.7em;
  }

  .doggoPic {
    height: 310px;
    width: 320px;
  }

  .wave {
    height: 70vh;
  }

  nav a {
    padding: 0.4em 0.8em;
  }
}
